
/* Flex layout */
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px;

}

.social-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}


/* Left section */
.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.social-media-image {
  width: 100%;
  height: 105%;
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

/* Right section */
.right-section {
  flex: 2;
  min-width: 700px;
}

/* Title */
.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Divider */
.account-page-divider {
  height: 2px;
  background-color: #4f46e5;
  margin-bottom: 10px;
}

.account-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px; /* or even 4px */

}


/* Account card */
.account-card {
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 12px;
  padding: 2px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.2s ease;
}

.account-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}




