/* General layout */
.executor-home {
  width: 96%;
  height: 92vh;
  background-color: #f4f4f4;
  padding: 30px;
  font-family: 'Arial', sans-serif;
}

/* Header */
.executor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.executor-logo {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.executor-title {
  font-size: 36px;
  color: #333;
}

/* Welcome Section */
.executor-welcome-section {
  text-align: center;
  margin-bottom: 30px;
}

.executor-welcome-heading {
  font-size: 32px;
  color: #000;
}

.executor-description {
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

/* Solid Divider */
.executor-solid-divider {
  width: 100%;
  height: 4px;
  background-color: #9a9a9a;
  border: none;
  margin: 40px auto;
}

/* Accounts Section */
.executor-accounts-heading {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-top: 40px;
}

/* Accounts List - Horizontal Layout */
.executor-account-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

/* Account Cards */
.executor-account-card {
  width: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  transition: 0.3s ease-in-out;
}

/* Original brand colors */
.executor-account-icon.facebook { color: #1877F2; }
.executor-account-icon.twitter { color: #1DA1F2; }
.executor-account-icon.instagram { color: #C13584; }
.executor-account-icon.linkedin { color: #0077B5; }
.executor-account-icon.snapchat { color: #FFFC00; }
.executor-account-icon.pinterest { color: #E60023; }
.executor-account-icon.youtube { color: #FF0000; }
.executor-account-icon.reddit { color: #FF4500; }
.executor-account-icon.tiktok { color: #000000; }
.executor-account-icon.whatsapp { color: #25D366; }
.executor-account-icon.telegram { color: #0088CC; }
.executor-account-icon.discord { color: #5865F2; }
.executor-account-icon.github { color: #171515; }
.executor-account-icon.google { color: #EA4335; }

/* Download Icon */
.executor-download-icon {
  font-size: 24px;
  color: #000000;
}

.executor-download-icon:hover {
  color: #5f5c5c;
}

/* Increase icon size */
.executor-account-icon {
  font-size: 40px;
}

.executor-account-card:hover {
  background-color: #e0e0e0;
}

.executor-account-details h3 {
  font-size: 20px;
  margin: 0;
}

.executor-account-details p {
  font-size: 16px;
  color: #555;
}

.executor-settings-icon {
  font-size: 26px;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .executor-account-list {
      flex-direction: column;
      align-items: center;
  }

  .executor-account-card {
      width: 90%;
  }
}
