
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 30px;
  margin-top: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.header-logo {
  width: 30px;
  height: 30px;
}

.navigation {
  display: flex;
  gap: 20px;
  padding: 8px 15px;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-weight: 70;
  font-size: 13px;
}

.header-user-avatar {
  width: 40px;
  height: 40px;
}
.profile-popup {
  position: absolute;
  top: 70px;
  right: 20px;
  background: #dbdfde;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  width: 260px;
  padding: 16px;
  z-index: 1000;
  color: black;
}

.popup-header {
  text-align: center;
  background: #606161;
  border-radius: 12px;
  padding: 16px;  
  color: white;
}
.popup-header h4 {
  margin: 8px 0 4px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #333;
}

.popup-header p {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-size: 14px;
  color: #ffffff;
}
.popup-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  margin-bottom: 8px;
}

.popup-option {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  font-size: 14px;
}

.popup-option:hover {
  background-color: #b2bbbb;
  border-radius: 8px;
}

.logout {
  color: red;
}

.change-password-modal{
  width: 40%;
  border-radius: 18px;
}