/* Main container to take full height */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden; /* Prevent side scrolling */
}

/* Header section fixed at the top */
.header-space {
  background-color: #333;
  padding: 15px;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Sub-container for dynamic content */
.sub-container {
  margin-top: 60px; /* Adjust based on header height */
  padding: 20px;
  background-color: #f4f4f4;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%; /* Full width */
  max-width: 100vw; /* Ensure no horizontal overflow */
}
.content-container {
 width: 100%;
  /* Set a max width for the content */
  margin: 0 auto; /* Center the content */
  padding: 20px; /* Add some padding */
  background-color: #fff; /* White background for the content area */
  border-radius: 8px; /* Rounded corners */
}

/* Navigation styling inside Header */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
