.lawyer-form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 25px 30px;
  background-color: #d6d1ce;
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

.lawyer-form-container h2{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.lawyer-register-form .form-group {
  margin-bottom: 15px;
}

.lawyer-register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.lawyer-register-form span {
  display: block;
  margin-bottom: 5px;
}

.lawyer-register-form input[type="text"],
.lawyer-register-form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #333;
}
