.profile-container {
  margin: 2% 3%;
  padding: 70px;
  font-family: Arial, sans-serif;
  color: #000;
  background-color: #C5C0C0;
  border-radius: 15px;
}

.user-profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: #C5C0C0;
}

.profile-photo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-icon {
  font-size: 100px;
  color: #ccc;
}

.profile-info {
  flex: 1;
}

h1 {
  font-size: 34px;
  margin: 0 0 5px 0;
}

.profile-subheader {
  font-size: 16px;
  margin-bottom: 5px;
  display: grid;
  gap: 7px;
}

.nic {

}

.details-container {
  display: flex;
  gap: 20px;
}

.user-details, .executor-details {
  flex: 1;
}

.vertical-divider {
  border-left: 1px solid #ccc;
  height: auto;
}

h2 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  font-weight: bold;
}

p {
  margin: 0 0 10px 0;
  padding-left: 10px;
}

strong {
  font-weight: bold;
}