# Build system files
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# Environment files
.env
.env.*

# IDE files (STS, Eclipse, IntelliJ, NetBeans, VS Code)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
.idea
*.iws
*.iml
*.ipr
out/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore secret config files
application-prod.properties
application-secrets.properties

